body {
    background:black;
    color:white;
    font-family:Arial;
    text-align:center;
}


h1 {
    color:red;
    text-shadow:0 0 15px red;
}


a {
    color:red;
    margin:20px;
    text-decoration:none;
}


nav {
    padding:20px;
}
