body {
    margin: 0;
    background: #020b18;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}


header {
    background: #001b33;
    padding: 30px;
    border-bottom: 2px solid #0099ff;
}


h1 {
    color: #00aaff;
    text-shadow: 0 0 15px #008cff;
}


h2 {
    color: #00aaff;
}


nav a {
    display: inline-block;
    margin: 10px;
    padding: 12px 20px;
    background: #003b66;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #00aaff;
}


nav a:hover {
    background: #00aaff;
    color: black;
}


.card {
    background: #001426;
    border: 2px solid #008cff;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 0 15px #0066ff;
}


button {
    background: #0066ff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}


button:hover {
    background: #00aaff;
    color: black;
}


input, textarea {
    background: #001426;
    color: white;
    border: 1px solid #008cff;
    padding: 10px;
    border-radius: 8px;
}


img {
    width: 250px;
    border-radius: 15px;
    border: 2px solid #00aaff;
}


footer {
    padding: 20px;
    margin-top: 40px;
    background: #001b33;
}
.profilePage {

min-height:100vh;

background:#020b18;

padding:30px;

text-align:center;

}



.profilePage h1 {

font-size:45px;

}



.profileImage {

width:350px;

max-width:90%;

border-radius:20px;

box-shadow:0 0 25px #008cff;

}



.lore {

background:#001426;

border:2px solid #008cff;

border-radius:20px;

padding:30px;

margin:30px auto;

max-width:700px;

font-size:20px;

line-height:1.6;

}
